@{
    ViewData["Title"] = "My TV Watch List";
}

<div id="home" class="hero-section">
    <div class="container hero-text text-center">
        <h1 class="display-4">Choosing Shows Made Easy</h1>
        <p>We organize the shows you want to watch to help you pick what's next.</p>
        <a class="btn btn-primary" asp-controller="Watchlist" asp-action="Index">Get Started</a>
    </div>
</div>